<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="mina">
      <p>
      <form action="/adminlogin" method="post">
        <p>
          <input
          type="text"
          name="adminusername"
          id="adminusernamee"
          placeholder="Admin Username here"
          required
        />
        </p>
        <p>
          <input
          type="password"
          name="adminpassword"
          id="adminpasswordd"
          placeholder="Admin Password here"
          required
        />
        </p>
        <p>
          <button type="submit">Login</button>
        </p>
      </form>
    </p>
    <hr>
    <p>
      <a href="/">Not a Admin? Back To Home</a>
    </p>
    </div>
    <style>
      #mina{
        margin-top: 20vh;
        margin-bottom: 20vh;
        margin-left: 30vw;
        margin-right: 30vw;
        border: 8px solid #2612E5 ;
      }
      p{
        text-align: center;
      }
  </body>
</html>