<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Welcome Admin!!
    </p>
    <p>
        <button id="masterkey" type="submit">Fetch All Data</button>
    </p>
    <p>
        <table id="ull">
            <tr>
                <td>USER</td>
                <td>BUY</td>
                <td>HELP</td>
                <td>CHAT</td>
            </tr>
        </table>
    </p>
    <div style="margin-top: 50px">
        <p>
            <a href="/">Logout</a>
        </p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="js/adminlog.js"></script>
</body>
</html>